name: Publish py3.10-odoo16.0
on:
  push:
    tags: ["v16.*"]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Login GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Build & Push
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
          ghcr.io/${{ github.repository_owner }}/algorit-ci-odoo:py3.10-odoo16.0:latest
          ghcr.io/${{ github.repository_owner }}/algorit-ci-odoo:py3.10-odoo16.0:v16.0.1
        build-args: |
          python_version=3.10
          odoo_version=16.0
          codename=jammy
