name: Publish py3.10-odoo16.0
on:
  push:
    tags: ["v16.*"]
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Build & Test
      id: build
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        load: true
        tags: ghcr.io/${{ github.repository }}/py3.10-odoo16.0:local-test
        build-args: |
          python_version=3.10
          odoo_version=16.0
          codename=jammy
    
    - name: Test Image
      run: |
        docker run --rm -e PGHOST=host.docker.internal ghcr.io/${{ github.repository }}/py3.10-odoo16.0:local-test runtests.sh
    
    - name: Push Production
      if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v16.')
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        push: true
        tags: |
          ghcr.io/${{ github.repository }}/py3.10-odoo16.0:latest
          ghcr.io/${{ github.repository }}/py3.10-odoo16.0:${{ github.ref_name }}
        build-args: |
          python_version=3.10
          odoo_version=16.0
          codename=jammy
